@import "colores";

// Titulo
#admin-page {
  color: #fff;
  #nombreUsuario {
    text-align: center;
    margin-top: 5px;
  }
  h3 {
    text-align: center;
    background-color: $foscuro;
    margin: 0;
  }
  #profile-menu {
    background-color: $foscuro;
    img {
      width: 50%;
      background-color: #fff;
      border: 2px solid rgb(195, 195, 195);
      border-radius: 100%;
      object-fit: contain;
      display: block;
      margin: auto;
    }
    #opciones-menu {
      display: flex;
      flex-direction: column;
      margin: 10px 0px 10px 10px;

      a {
        margin-top: 20px;
        padding: 10px;
        background-color: $fclaro;
        text-decoration: none;
        color: #fff;
        border-radius: 20px;
      }
    }
    #footer-menu {
      display: flex;
      justify-content: center;
      a {
        text-decoration: none;
        color: #fff;
        margin: 10px;
        font-size: 40px;
      }
    }
  }
  #content {
    background-color: $fclaro;
    text-align: center;
    h2 {
      margin-top: 20px;
    }
  }
  #footer {
    background-color: black;
  }

  #novedades {
    margin: 30px 0px 30px 30px;
    display: inline-block;
    .card {
      margin: 0px 0px 20px 45px;
    }
    a {
      text-decoration: none;
      background-color: $fclaro;

      color: #fff;
      padding: 10px;
      border-radius: 20px;
    }
  }

  #servicios,
  #trabajadores,
  #clientes {
    text-align: left;
    margin: 10px;
    height: 600px;
    max-height: 600px;

    #tabla-servicios,
    #tabla-trabajadores,
    #tabla-clientes {
      max-height: 300px;
      overflow: auto;
    }
    table {
      margin: 10px;
      padding: 10px;
      border-radius: 20px;
      color: $foscuro;
      border-collapse: unset;
      width: 90%;
      background-color: #fff;

      overflow: auto;
      tr,
      th {
        border-bottom: 1px solid $foscuro;
        padding: 5px;
        margin: 10px;
        text-align: center;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      #fila1 {
        position: sticky;
        top: 0;
        margin: 0;
        background-color: #fff;
      }
    }
  }

  #encargos {
    text-align: left;
    margin: 10px;
    height: 100%;

    #tabla-encargos-pendientes,
    #tabla-encargos-aceptados,
    #tabla-encargos-finalizados {
      max-height: 300px;
      overflow: auto;
    }
    table {
      margin: 10px;
      padding: 10px;
      border-radius: 20px;
      color: $foscuro;
      border-collapse: unset;
      width: 99%;
      background-color: #fff;

      overflow: auto;
      tr,
      th {
        border-bottom: 1px solid $foscuro;
        padding: 5px;
        margin: 10px;
        text-align: center;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      #fila1 {
        position: sticky;
        top: 0;
        margin: 0;
        background-color: #fff;
      }
    }
  }
  #nuevoServicio,
  #nuevoTrabajador,
  #nuevoCliente,
  #nuevoEncargo {
    div {
      margin-top: 10px;
    }

    input[type="text"],
    input[type="number"],
    textarea {
      padding: 10px 20px;
      box-sizing: border-box;
    }

    input,
    textarea {
      border-radius: 8px;
    }
    #enviar {
      padding: 10px;
      background-color: #fff;
      transition: 0.5s;
      &:hover {
        transition: 0.5s;
        background-color: $foscuro;
        color: #fff;
      }
    }
  }

  .avatarClienteImg {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
  }

  #aceptarEncargo,
  #rechazarEncargo{
    font-size: 30px;
    margin: 5px;
  }

  #aceptarEncargo{
    color: lightgreen;
  }
  #rechazarEncargo{
    color: red;
  }
}
