@import "colores";

#client-page {
  color: #fff;
  overflow-x: hidden;
  #nombreUsuario {
    text-align: center;
    margin-top: 5px;
  }
  h2{
    color: #000000;
  }
  h3 {
    text-align: center;
    background-color: $voscuro;
    margin: 0;
    padding: 10px;
  }
  h4 {
    color:#000000;
    padding-left: 10px;
  }
  #profile-menu {
    background-color: $voscuro;
    img {
      width: 50%;
      background-color: #fff;
      border: 2px solid rgb(195, 195, 195);
      border-radius: 100%;
      object-fit: contain;
      display: block;
      margin: auto;
    }
    #opciones-menu {
      display: flex;
      flex-direction: column;
      margin: 10px 0px 10px 10px;

      a {
        margin-top: 20px;
        padding: 10px;
        background-color: $vnormal;
        text-decoration: none;
        color: #1b9421;
        border-radius: 20px;
        text-align: center;
      }
    }
    #footer-menu {
      display: flex;
      justify-content: flex-end;
      a {
        text-decoration: none;
        color: #fff;
        margin: 10px;
        font-size: 40px;
      }
    }
  }
  #content {
    background-color: $vnormal;
    text-align: left;
    h2,h4 {
      margin-top: 35px;
      text-align: center;
    }
  }
  #footer {
    background-color: black;
  }

  #novedades {
    margin: 30px 0px 30px 30px;
    display: inline-block;
    text-align: center;
    @media(max-width: 475px){
      margin: 0;
      }
    .card {
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
      margin: 0px 0px 45px 45px;
    }
    a {
      text-decoration: none;
      background-color: $vnormal;

      color: #fff;
      padding: 10px;
      border-radius: 20px;
    }
  }

  #pedidos {
    text-align: left;
    margin: 10px;
    height: 700px;
    max-height: 800px;

    @media(max-width: 475px){
      height: 800px;
      max-height: 800px;
    }

    #tabla-pedidos{
      max-height: 300px;
      overflow: auto;
    }
    table {
      margin: 10px;
      padding: 10px;
      border-radius: 20px;
      color: $vnormal;
      border-collapse: unset;
      width: 90%;
      background-color: #fff;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);

      overflow: auto;
      tr,
      th {
        border-bottom: 1px solid $vnormal;
        padding: 10px;
        margin: 10px;
        text-align: center;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      #fila1 {
        position: sticky;
        top: 0;
        margin: 0;
        background-color: #fff;
      }
    }
  }

  #parcelas {
    padding: 20px;
    .card {
      margin-top: 20px;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
      h5 {
        margin-left: 10px;
      }
      img {
        width: 40%;
        display: block;
        margin: auto;
      }
      a i {
        color: $vnormal;
        font-size: 25px;
      }
    }
  }
  #nuevoParcela,
  #nuevoPedido {
    padding: 10px;
    div {
      margin-top: 10px;
    }

    input[type="text"],
    input[type="number"],
    textarea {
      padding: 10px 20px;
      box-sizing: border-box;
    }

    input,
    textarea {
      border-radius: 8px;
    }
    #añadirParcela,
    #añadirPedido {
      padding: 10px;
      background-color: #fff;
      color: $vnormal;
      transition: 0.5s;
      &:hover {
        transition: 0.5s;
        color: #fff;
        background-color: $vclaro;
      }
    }
  }
}
